<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/cite.css">
</head>
<body>
<div class="container">
    <div class="news-heading">
        <h1>Here are the latest news<a href="#">See all</a></h1>
    </div>
    <div class="news-container">
        <div class="grid-item card">
            <div class="card-header">We go back to university!</div>
            <div class="card-body">One</div>
            <div class="card-footer">
                <button class="button">Read</button>
                <button class="button-sign-up">Sign Up</button>
            </div>
        </div>
        <div class="grid-item card">Two</div>
        <div class="grid-item card">Three</div>
        <div class="grid-item card">Four</div>
    </div>
</div>
</body>
</html>