<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TFT</title>
{#    <link rel="stylesheet" href="style/sidebar.css">#}
</head>
<body>
    <div class="app">
        <aside class="sidebar">
            <h3>Menu</h3>

            <nav class="menu">
                <a href="#" class="menu-item is-active">Home</a>
                <a href="#" class="menu-item">Champions</a>
                <a href="#" class="menu-item">Team Comps</a>
                <a href="#" class="menu-item">Home</a>
            </nav>
        </aside>

        <main class="content">
            <h1>Welcome to TFT Wiki/Forum</h1>
        </main>
    </div>
</body>
</html>