.container{
    margin: 45px;
}
.news-container{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-gap: 20px;
}
.news-heading h1 a{
    font-size: 2.5rem;
    float: right;
}

.grid-item{
    align-self: center;
}
.card{
    background: white;
    padding: 1rem;
    border: solid #333;
    border-radius: .25rem;
}
.card-body{
    font-size: 1.5rem;
}

@media (max-width: 1500px){
    .news-container{
        grid-template-columns: repeat(4, 300px);

    }
}
@media (max-width: 1200px){
    .news-container{
        grid-template-columns: repeat(3, 300px);
    }

    .grid-item:last-child{
        display: none;
    }
}
@media (max-width: 695px) {
    .news-container{
        grid-template-columns: repeat(1, 500px);
    }
    .grid-item:last-child{
        display: grid;
    }
}